
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="alien"  class="com.parsa.Alien" scope="prototype" >-->
    <!-- bean definitions here -->
    <bean id="alien"  class="com.parsa.Alien" >
        <constructor-arg index="1" type="com.parsa.Laptop" ref="laptop"/>
        <constructor-arg index="0" value="21" />
        <constructor-arg index="2" value="23"/>

<!--        <property name="age" value="23" ></property>-->

<!--        <property name="laptop" ref="laptop"></property>-->
    </bean>
    <bean id="laptop" class="com.parsa.Laptop" >

    </bean>
</beans>
